<ion-header [translucent]="true">
  
  <ion-toolbar>
    <ion-buttons slot="start">
           <ion-button color="tertiary" size="large"  (click)="cancel()"> <ion-icon name="arrow-undo-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Agregar vivienda/s e Irves a la previsión</ion-title>
        <ion-buttons slot="end">
          <ion-button color="danger" size="large"  (click)="cancel()"><ion-icon name="close-outline"></ion-icon></ion-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section id="secFormVivivienda">
    <ion-form [formGroup]="formViviendaM"  (ngSubmit)="agregaVivienda()">
      <fieldset>
        <legend>Viviendas / Irves</legend>
      <ion-item>
        <ion-label for="numViv" color="primary" >Núm viviendas:</ion-label>
        <ion-input id="numViv" formControlName="numViv" type="number" min="0"  class="form-control ng-untouched ng-pristine ng-valid" required></ion-input>
        
        
      
        <ion-label color="primary" >con Irve?:</ion-label>
        <ion-input formControlName="numVivIrve" type="number" min="0" class=" form-control ng-untouched ng-pristine ng-valid"  required></ion-input>
        <ion-label color="primary" >potencia Irve:</ion-label>
        <ion-input formControlName="potIrve" id="potIrve" type="number" min="0"  ></ion-input>
       
        <ion-select id="selMedidaPotIrve" class="form-control ng-valid ng-pristine ng-untouched" placeholder="kW"
      interface="popover" (ionChange)="cambiaTipoMedidaIrve($event.target.value)" >
      <ion-select-option *ngFor="let tipoMedida of this.previsionesService.medidasPotencia" [value]="tipoMedida">
        {{tipoMedida}}</ion-select-option>
       
       </ion-select>
      </ion-item>

      <ion-item>
       

        <ion-item>
          <ion-select label="Tipo vivienda: " id="selTipoViviendas" interface="popover" formControlName="tipoViv"
            placeholder="Selecciona tipo" (ionChange)="cambiaTipoVivienda($event.target)">
            <ion-select-option *ngFor="let tipoViviviendaM of tipoViviendas" [value]="tipoViviviendaM">
              {{tipoViviviendaM.id }}.-{{ tipoViviviendaM.nombre }} - {{ tipoViviviendaM.descripcion }}- 
              {{ tipoViviviendaM.potencia }} {{ tipoViviviendaM.medidaPotVivienda }}
            </ion-select-option>
          </ion-select>


        </ion-item>
        <ion-label for="txtPotVivienda">Potencia: </ion-label>
        <ion-input id="txtPotVivienda"   formControlName="potViv"  min="0" [readonly]="true" [(ngModel)]="potenciaViv" type="number" required ></ion-input>

        <ion-select id="selMedidaPotenciaVivienda" class="form-control ng-valid ng-pristine ng-untouched" placeholder="kW" interface="popover" [disabled]="true"
         (ionChange)="cambiaTipoMedidaVivienda($event.target.value)" >
         <ion-select-option *ngFor="let tipoMedidav of this.previsionesService.medidasPotencia" [value]="tipoMedidav">
           {{tipoMedidav}}</ion-select-option>
        </ion-select>
        

      </ion-item>
      <ion-item disabled="true" class="ion-hide">
        <ion-label position="floating">ID</ion-label>
        <ion-input formControlName="id" type="number" value="{{nuevaVivienda.id}}">
        </ion-input>
      </ion-item>
      <ion-row>
        
        <ion-col>
          <ion-button [disabled]="!formViviendaM.valid||!formViviendaM.dirty" type="ngSubmit" color="primary" shape="full" expand="block"
            (click)="agregaVivienda()">Agregar viviendas / Irves</ion-button>
        </ion-col>
      </ion-row>
      </fieldset>
    </ion-form>
  </section>
</ion-content>
