<ion-header [translucent]="true">

  <ion-toolbar>
    <ion-buttons slot="start">

      <ion-button color="tertiary" size="large" (click)="cancel()"> <ion-icon
          name="arrow-undo-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Previsión Garages </ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" size="large" (click)="cancel()"><ion-icon name="close-outline"></ion-icon></ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<section id="secFormGarage">
  <form (ngSubmit)="agregarGarage()" #formGarages="ngForm">
    <fieldset>
      <legend>Garages</legend>

      <div id="divGarages" class="form-group">
        <ion-item>
          <label for="txtNumPlantas">Num plantas:</label>
          <input type="number" min="0" class="form-control ng-untouched ng-pristine ng-valid" id="numPlantas" required
            [(ngModel)]="modelGarage!.numPlantas" (keyup)="calculaPotGarage()" name="numPlantas"
            placeholder="Numero de plantas" title="Numero de plantas">

          <label for="mtsGarage"> Superficie Garage: </label>
          <input type="number" id="mtsGarage" min="0" class="form-control ng-untouched ng-pristine ng-valid" required
            [(ngModel)]="modelGarage!.mtsGarage" name="mtsGarage" (keyup)="calculaPotGarage()"
            placeholder="Superficie de Garages" title="Superficie de Garages"> mts2
        </ion-item>
        <ion-item>
          <label for="numPlazas"> Num plazas: </label>
          <input type="number" id="numPlazas" min="0" class="form-control ng-untouched ng-pristine ng-valid"
            [(ngModel)]="modelGarage!.numPlazas" name="numPlazas">

        </ion-item>

        <ion-item>
          Tipo ventilacion:

          <input type="radio" id="ventNatural" [name]="modelGarage.ventilacion" [value]=0.01
            (change)="cambioVentilacion($event.target)" checked><label for="ventNatural">10 W/m2 Natural</label>
          <input type="radio" id="ventForzada" [name]="modelGarage.ventilacion" [value]=0.02
            (change)="cambioVentilacion($event.target)"><label for="ventForzada">20 W/m1 Forzada</label>
        </ion-item>

        
          <ion-item style="border: 1px solid;" disabled>
          <label> Potencia Garage: {{modelGarage.totalPotenciaGaragekW|number}} kW </label> 
          <label slot="end">Pot total garages: {{previsionesService.PGar()|number}} Kw</label>
           
          </ion-item>
        


      </div>
    </fieldset>
    <button type="submit" class="btn btn-success" [disabled]="!formGarages.form.valid">Agregar Garage</button>
 
  </form>
</section>

<ion-grid>
  <section>

    @for (garItem of this.previsionesService.listaGarages(); track garItem.id) {
    <ion-row>
      <ion-col>
        <img alt="Icono Garage" src="../../../../assets/garaje.png" height="50px" class="-right" />
        <p> {{garItem.numPlantas}} plantas de {{garItem.mtsGarage}} mts2 con Potencia de {{garItem.potGarage}} kW.
          Con {{this.previsionesService.numPlazasPkn()}} plazas de parking.</p>
        <h5> Total {{garItem.totalPotenciaGaragekW |number}} kW.</h5>
        <div class="btn ion-button btnEliminar" (click)="this.previsionesService.eliminarGarage(garItem)"><ion-icon
            name="trash"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
    } @empty {
    <li>No hay ningún local definido.</li>
    }

  </section>
</ion-grid>