<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Prevision de carga de edificios con Irve</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section id="secCabecera">
    <div id="divCabecera">
      <ion-grid id="gripCabecera" cols="6" rowHeight="50px">
        <ion-row>
          <ion-col>PViv</ion-col>
          <ion-col>PSGen</ion-col>
          <ion-col>PLoc</ion-col>
          <ion-col>PGar</ion-col>
          <ion-col>PIrve</ion-col>
          <ion-col>Ptotal</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>{{this.previsionesService.prevision().Pviv|number}} kW</ion-col>
          <ion-col>{{this.previsionesService.prevision().Psgen|number}} kW</ion-col>
          <ion-col>{{this.previsionesService.prevision().Ploc|number}} kW</ion-col>
          <ion-col>{{this.previsionesService.prevision().Pgar|number}} kW</ion-col>
          <ion-col>{{this.previsionesService.prevision().Pirve|number}} kW</ion-col>
          <ion-col>{{this.previsionesService.prevision().Ptotal|number}} kW</ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </section>
  <section>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-justify-content-start">

          <ion-label>Esquema:</ion-label>
          <ion-select aria-label="tipo de esquema" interface="popover" placeholder="tipo de esquema" color="danger"
            (ionChange)="cambiaEsquema($event.srcElement)">
            <ion-select-option value="1a">1a</ion-select-option>
            <ion-select-option value="1b">1b</ion-select-option>
            <ion-select-option value="1c">1c</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3a">3a</ion-select-option>
            <ion-select-option value="4a">4a</ion-select-option>
            <ion-select-option value="4b">4b</ion-select-option>

          </ion-select>

        </ion-col>
        <ion-col>
          <ion-checkbox (ionChange)="cambiaSPL ($event.target.checked)">¿Tiene SPL?:</ion-checkbox>

        </ion-col>
      </ion-row>
    </ion-grid>
  </section>
  <section id="secListadoPreviones">
    <ion-accordion-group [multiple]="true" [value]="['accPViv']">

      <ion-accordion value="accPViv">
        <ion-item slot="header" color="primary">
          <h4>Prevision Viviendas </h4>

          <ion-label>Pot Med: {{this.previsionesService.sumPotP1med().toFixed(3)}} kW -
            CS: {{this.previsionesService.cs().toFixed(3)}} </ion-label>
          <h6 slot="end">
            Pviv: {{this.previsionesService.prevision().Pviv|number}} kW</h6>
          <div>
            <ion-button id="trigger-button" shape="round" color="warning"><ion-icon
                name="help-outline"></ion-icon></ion-button>
            <ion-popover trigger="trigger-button">
              <ng-template>
                <ion-content class="ion-padding"><ion-img
                    src="../../../../assets/tipoVivienda2.png"></ion-img></ion-content>
              </ng-template>
            </ion-popover>
          </div>

        </ion-item>

        <div slot="content">
          <ion-grid id="gripViviendas" cols="6" rowHeight="50px">

            <ion-row class="titListado">
              <ion-col>Num Viv: </ion-col>
              <ion-col>Potencia Vivienda kW </ion-col>
              <ion-col>Viviendas con Irve </ion-col>
              <ion-col>Potencia Irve kW </ion-col>
              <ion-col> Total potencia Irve kW</ion-col>
              <ion-col>Eliminar</ion-col>
            </ion-row>


            @for (element of previsionesService.listaViviendas(); track element.id) {
            <ion-row>
              <ion-col> {{element.numViviendas}} </ion-col>
              <ion-col>{{element.tipo.nombre}} - {{element.tipo.potencia}} </ion-col>
              <ion-col><ion-label>{{element.conIrve}} </ion-label>
              </ion-col>

              <ion-col> {{element.potIrve}} kW </ion-col>
              <ion-col>Total conjunto viviendas:
                {{((element.numViviendas-element.conIrve!)*element.tipo.potencia+(element.conIrve!*(element.tipo.potencia+0.3*element.potIrve!))).toFixed(3)}}</ion-col>
              <ion-col><ion-button color="tertiary" class="btnEliminatd">
                  <ion-icon slot="icon-only" name="trash"></ion-icon></ion-button>
              </ion-col>

            </ion-row>
            } @empty {
            <li>No hay ninguna vivienda definida.</li>
            }



            <ion-row>
              <ion-col>Total Viv: {{this.previsionesService.numTotalViviendas()}} kW </ion-col>
              <ion-col> Pot Med: {{this.previsionesService.sumPotP1med().toFixed(3)}} kW </ion-col>
              <ion-col> CS: {{this.previsionesService.cs().toFixed(3)}}</ion-col>
              <ion-col>Total conjunto viviendas:</ion-col>
              <ion-col> {{this.previsionesService.sumPotP1med() * this.previsionesService.cs()|number}}</ion-col>
              <ion-col>
                <div>
                  <ion-button id="trigger-buttonCS" shape="round" color="warning" size="small"><ion-icon
                      name="help-outline"></ion-icon></ion-button>
                  <ion-popover trigger="trigger-buttonCS">
                    <ng-template style="width: 80%">
                      <ion-content class="ion-padding"><ion-img
                          src="../../../assets/infoViviendas.png"></ion-img></ion-content>
                    </ng-template>
                  </ion-popover>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-button id="btnAgregarViv" class="btn btnAgregar " color="warning" (click)="agregarVivienda()"
            expand="block" shape="round">
            Agregar viviendas / Irves
          </ion-button>

        </div>
      </ion-accordion>

      <ion-accordion value="accPServGen">
        <ion-item slot="header" color="secondary">
          <h3> Prevision Sevicios Generales</h3>
          <ion-label slot="end">Pasc: {{this.previsionesService.Pasc().toFixed(3)}} kW Pgm:
            {{this.previsionesService.Pgm().toFixed(3)}} kW Palum:
            {{this.previsionesService.PAlum()|number}}</ion-label>
          <h6 slot="end">Psergen:
            {{this.previsionesService.PAlum()+this.previsionesService.Pasc()+this.previsionesService.Pgm()|number}}kw
          </h6>
          <div>
            <ion-button id="infoSerGen" shape="round" color="warning"><ion-icon
                name="help-outline"></ion-icon></ion-button>
            <ion-popover trigger="infoSerGen" side="bottom" alignment="start">
              <ng-template>
                <ion-content class="ion-padding"><ion-img src="../../../assets/Psergen.png"></ion-img></ion-content>
              </ng-template>
            </ion-popover>
          </div>
        </ion-item>

        <div class="ion-padding" slot="content">

          <!----  listado ascensor -->
          <ion-grid>

            @for (ascItem of this.previsionesService.listaAscensores(); track ascItem.id) {
            <ion-row>
              <ion-col>
                <img alt="Icono Ascensor" src="../../../assets/icon/ascensor.png" height="50px"
                  class="ion-float-right" />
                {{ascItem.numAscensores}} ascensores tipo {{ascItem.tipoMotorAsc}} de {{ascItem.potenciaMotorAsc}}
                {{ascItem.medidaPotencia}}.
                Total {{ascItem.totalpotenciakw |number}} kW.
                <div class="btn ion-button btnBorrar" (click)="this.eliminaAscensor(ascItem)"><ion-icon
                    name="trash"></ion-icon>
                </div>
              </ion-col>
            </ion-row>
            } @empty {
            <li>No hay ningún ascensor definido.</li>
            }

          </ion-grid>

          <!---Listado de guupo motor  -->
          <ion-grid>

            @for (gmItem of this.previsionesService.listaGMotor(); track gmItem.id) {
            <ion-row>
              <ion-col>
                <img alt="Icono Grupo Motor" src="../../../assets/icon/grupomotor3.png" height="50px"
                  class="ion-float-right" />
                {{gmItem.numGMotores}} grupo motor de {{gmItem.potenciaGMotor}} {{gmItem.medidaPotencia}}.
                Total {{gmItem.totalpotenciakw |number}} kW.
                <div class="btn ion-button btnBorrar" (click)="this.eliminaGrupoMotor(gmItem)"><ion-icon
                    name="trash"></ion-icon>
                </div>
              </ion-col>
            </ion-row>
            } @empty {
            <li>No hay ningún grupo motor definido.</li>
            }

          </ion-grid>
          <!---Listado alumbrado  -->
          <ion-grid>

            @for (itemAlum of this.previsionesService.listaAlumbrado(); track itemAlum.id) {
            <ion-row> <ion-col>
                <img alt="Icono Alumbrado" src="../../../assets/icon/Alumbrado1.png" height="50px"
                  class="ion-float-left" />
                id:{{itemAlum.id}} - {{itemAlum.mtsAlumbrado}} mts de {{itemAlum.tipoAlumbrado!.potAlum}}
                {{itemAlum.tipoAlumbrado!.nombreAlum!}} <br>
                {{itemAlum.numLamparas}} lamparas de {{itemAlum.potLamparas}}{{itemAlum.medidaPotencia}}


                Total {{itemAlum.totalPotenciaAlumkW! |number}} kW.
                <div class="btn ion-button btnBorrar" (click)="this.previsionesService.eliminaAlumbrado(itemAlum)">
                  <ion-icon name="trash"></ion-icon>
                </div>
              </ion-col>
            </ion-row>
            } @empty {
            <li>No hay ningún alumbrado definido.</li>
            }

          </ion-grid>
          <ion-button id="btnAgregarSerGen" class="btn btnAgregar " color="warning" (click)="agregarServGrales()"
            expand="block" shape="round">
            Agregar Servicios Generales
          </ion-button>
        </div>

      </ion-accordion>

      <ion-accordion value="accPLoc">
        <ion-item slot="header" color="tertiary">
          <h3>Prevision Locales</h3>
          <div>
            <ion-button id="infoLocales" shape="round" color="warning"><ion-icon
                name="help-outline"></ion-icon></ion-button>
            <ion-popover trigger="infoLocales" side="bottom" alignment="start">
              <ng-template>
                <ion-content class="ion-padding"><ion-img src="../../../assets/infoLocales.png"></ion-img></ion-content>
              </ng-template>
            </ion-popover>
          </div>

          <h6 slot="end">Ploc: {{this.previsionesService.Ploc()|number}} kW</h6>


        </ion-item>
        <div slot="content">


          <ion-grid>

            @for (locItem of this.previsionesService.listaLocales(); track locItem.id) {
            <ion-row>
              <ion-col>
                <img alt="Icono Local" src="../../../../assets/local.jpg" height="50px" class="ion-float-right" />
                {{locItem.numLocales}} locales de {{locItem.mtsLocal}} con Potencia de {{locItem.potLocal}} kW.
                Total {{locItem.totalPotenciaLocalkW |number}} kW.
                <div class="btn ion-button btnEliminar" (click)="this.previsionesService.eliminarLocal(locItem)">
                  <ion-icon name="trash"></ion-icon>
                </div>
              </ion-col>
            </ion-row>
            } @empty {
            <li>No hay ningún local definido.</li>
            }

          </ion-grid>
          <ion-button id="btnAgregarLocales" class="btn ion-button btnAgregar" color="warning"
            (click)="agregarLocales()" expand="block" shape="round">
            Agregar Locales
          </ion-button>
        </div>
      </ion-accordion>

      <ion-accordion value="accPGar">
        <ion-item slot="header" color="secondary">
          <h4>Prevision Garage</h4>

          <h6 slot="end">Pgar: {{this.previsionesService.PGar()|number}} kW</h6>
          <div>
            <ion-button id="infoGarages" shape="round" color="warning"><ion-icon
                name="help-outline"></ion-icon></ion-button>
            <ion-popover trigger="infoGarages" side="bottom" alignment="start">
              <ng-template>
                <ion-content class="ion-padding"><ion-img src="../../../assets/infoGarage.png"></ion-img></ion-content>
              </ng-template>
            </ion-popover>
          </div>
        </ion-item>
        <div slot="content">
          <ion-grid>

            @for (garItem of this.previsionesService.listaGarages(); track garItem.id) {
            <ion-row>
              <ion-col>
                <img alt="Icono Garage" src="../../../../assets/garaje.png" height="50px" class="ion-float-right" />
                <p> {{garItem.numPlantas}} plantas de {{garItem.mtsGarage}} mts2 con Potencia de {{garItem.potGarage}}
                  kW.
                  Con {{this.previsionesService.numPlazasPkn()}} plazas de parking.</p>
                <h5> Total {{garItem.totalPotenciaGaragekW |number}} kW.</h5>
                <div class="btn ion-button btnEliminar" (click)="this.previsionesService.eliminarGarage(garItem)">
                  <ion-icon name="trash"></ion-icon>
                </div>
              </ion-col>
            </ion-row>
            } @empty {
            <li>No hay ningún local definido.</li>
            }

          </ion-grid>
          <ion-button id="btnAgregarGarage" color="warning" class="btn ion-button btnAgregar" (click)="agregarGarage()"
            expand="block" shape="round">
            Agregar Garage
          </ion-button>
        </div>
      </ion-accordion>

      <ion-accordion value="accPIrve">

        <ion-item slot="header" color="primary">

          <h4>Prevision Irve</h4>
          <h6 slot="end">PIrve: {{this.previsionesService.prevision().Pirve|number}} kW</h6>

        </ion-item>
        <div slot="content">
          
        <ion-grid>

          @for (irve of this.previsionesService.listaIrve(); track irve.id) {
          <ion-row>
            <ion-col>
              <img alt="Icono Irve" src="../../../assets/icon/estacion-de-carga.png" height="50px" class="ion-float-right" />
              
              <ion-label>{{irve.id}}</ion-label>
              <ion-label>Num Irves :{{irve.cantidad}}</ion-label>
              <ion-label>Potencia : {{irve.potencia}}</ion-label>
              <ion-label>Potencia vivienda :{{irve.tipoVivienda.potencia}} kW</ion-label>
              <ion-label>={{(irve.cantidad*irve.potencia)|number}} kW</ion-label>

              
              <ion-button class="btn ion-button btnEliminar" (click)="utilService.showAlert('Info Irve','Debes eliminar al vivienda')" >
                <ion-icon name="trash"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
          } @empty {
          <li>No hay ningún local definido.</li>
          }

        </ion-grid>

      </div>
      </ion-accordion>
    </ion-accordion-group>
  </section>
</ion-content>